body {
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 li a:hover {
    background-color: #111;
  }

#welcome-section {
    height: 100vh;
    background-image: url("./images/background.jpg");
    opacity: 0.8;
    font-size: 2rem;
        
}

h1 {
    margin: 0;
        
}

#webdev {
    font-size: 3rem;
}

#project-tile {
    background-color: #000;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 90vw auto;
    color: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-areas:    "header header"
                            "row1 ."
                            ". row2"
                            "row3 .";
}

#Project-Header {
    display: grid;
    grid-area: header;
    font-size: 1.5rem;
}

#gord-pic {
    height: 400px;
    width: auto;
    border: solid white 2px;
    border-radius: 4px;
    opacity: 0.5;
}

#nikon-pic {
    height: 400px;
    width: auto;
    border: solid white 2px;
    border-radius: 4px;
    opacity: 0.5;
}

#pilot-pic {
    height: 400px;
    width: auto;
    border: solid white 2px;
    border-radius: 4px;
    opacity: 0.5;
}

#project-tile img:hover {
    opacity: 1.0;
}

#row1 {
    display: grid;
    grid-area: row1;
}

#row2 {
    display: grid;
    grid-area: row2;
}

#row3 {
    display: grid;
    grid-area: row3;
}

#profile-link {
    text-decoration: none;
}